* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.2rem;
  font-family: monospace;
  background-image: url("playerone.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.container {
  position: absolute;
  bottom: 100px;
  left: 40px;
  width: 50%;
  min-width: 700px;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  float: none;
  clear: both;
}

p:first-of-type {
  margin-top: 40px;
}

.avatar {
  float: left;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 300px;
  overflow: hidden;
  border: 4px solid white;
}

.avatar img {
  height: 100%;
  object-fit: cover;
}

.user span {
  color: gray;
}

section ul {
  list-style: none;
  margin-left: 0px;
  clear: both;
  float: none;
  margin-bottom: 40px;
  display: block;
}
section ul li {
  height: 30px;
  float: left;
}

section ul li span {
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-right: 5px;
  background: darkslategray;
}

a {
  color: gold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  text-align: left;
  font-size: 0.8rem;
}
